<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>newstart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03992B171EC46AFF00A5A653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03992B2B1EC46B0000A5A653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03992B361EC46B0000A5A653</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
